/* ==========================================
   DASHBOARD PAGE
========================================== */

.dashboard-page{

    display:flex;
    flex-direction:column;
    gap:30px;

}

/* ==========================================
   WELCOME BANNER
========================================== */

.welcome-banner{

    background:linear-gradient(135deg,#2563EB,#1D4ED8);

    color:white;

    border-radius:22px;

    padding:40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 15px 35px rgba(37,99,235,.25);

}

.welcome-left h1{

    font-size:42px;

    font-weight:700;

    margin-bottom:10px;

}

.welcome-left p{

    font-size:17px;

    opacity:.9;

}

.welcome-right{

    text-align:right;

}

.welcome-right h2{

    font-size:42px;

    font-weight:700;

    margin-bottom:5px;

}

.welcome-right span{

    font-size:18px;

    opacity:.9;

}

/* ==========================================
   SECTION TITLE
========================================== */

.section-title{

    font-size:30px;

    font-weight:700;

    color:#0F172A;

    margin-bottom:-10px;

}

/* ==========================================
   CARD
========================================== */

.card{

    background:#FFFFFF;

    border-radius:18px;

    padding:28px;

    border:1px solid #E2E8F0;

    box-shadow:0 10px 25px rgba(0,0,0,.06);

    transition:.3s;

}

.card:hover{

    transform:translateY(-6px);

    box-shadow:0 20px 35px rgba(0,0,0,.12);

}

.card h5{

    color:#64748B;

    font-size:15px;

    margin-bottom:15px;

}

.card h3{

    margin-bottom:15px;

}

.card h1{

    font-size:48px;

    font-weight:700;

    color:#0F172A;

}

.card p{

    margin-top:15px;

    color:#64748B;

    line-height:1.5;

}

/* ==========================================
   RECENT ACTIVITIES
========================================== */

#recentActivities{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.activity{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:12px;

    border-radius:12px;

    background:#F8FAFC;

}

/* ==========================================
   RESPONSIVE
========================================== */

@media(max-width:992px){

.welcome-banner{

flex-direction:column;

align-items:flex-start;

gap:25px;

}

.welcome-right{

text-align:left;

}

}

@media(max-width:768px){

.welcome-left h1{

font-size:30px;

}

.welcome-right h2{

font-size:30px;

}

.card h1{

font-size:34px;

}

}
