/* ==========================================
   MAIN CONTENT
========================================== */

.main-content{

    margin-left:270px;

    min-height:100vh;

    background:#F8FAFC;

}

/* ==========================================
   HEADER
========================================== */

.header{

    height:80px;

    background:#FFFFFF;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    border-bottom:1px solid #E2E8F0;

    position:sticky;

    top:0;

    z-index:100;

}

.header-left h2{

    font-size:28px;

    font-weight:700;

    color:#0F172A;

    margin:0;

}

.header-left p{

    margin:4px 0 0;

    color:#64748B;

    font-size:14px;

}

/* ==========================================
   RIGHT SIDE
========================================== */

.header-right{

    display:flex;

    align-items:center;

    gap:18px;

}

/* ==========================================
   SEARCH BOX
========================================== */

.search-box{

    width:340px;

    height:46px;

    background:#F1F5F9;

    border-radius:14px;

    display:flex;

    align-items:center;

    padding:0 18px;

    gap:12px;

}

.search-box i{

    color:#64748B;

}

.search-box input{

    width:100%;

    border:none;

    background:transparent;

    outline:none;

    font-size:14px;

}

/* ==========================================
   NOTIFICATION
========================================== */

.notification-btn{

    width:46px;

    height:46px;

    border:none;

    border-radius:14px;

    background:#F1F5F9;

    cursor:pointer;

    transition:.3s;

}

.notification-btn:hover{

    background:#2563EB;

    color:white;

}

/* ==========================================
   PROFILE
========================================== */

.profile{

    display:flex;

    align-items:center;

    gap:12px;

    padding-left:12px;

}

.profile img{

    width:46px;

    height:46px;

    border-radius:50%;

    object-fit:cover;

}

.profile h5{

    margin:0;

    font-size:15px;

    font-weight:700;

}

.profile span{

    font-size:13px;

    color:#64748B;

}
