/* ==========================================
   SIDEBAR
========================================== */

.sidebar{

    width:280px;
    height:100vh;

    background:#0F172A;

    color:#fff;

    display:flex;
    flex-direction:column;

    position:fixed;
    left:0;
    top:0;

    box-shadow:5px 0 20px rgba(0,0,0,.15);

    z-index:999;

}

/* ==========================================
LOGO
========================================== */

.logo{

    text-align:center;

    padding:35px 20px;

    border-bottom:1px solid rgba(255,255,255,.08);

}

.logo img{

    width:120px;

    margin-bottom:15px;

}

.logo h2{

    font-size:24px;

    font-weight:700;

    margin-bottom:5px;

}

.logo span{

    color:#94A3B8;

    font-size:14px;

}

/* ==========================================
MENU
========================================== */

.menu{

    list-style:none;

    margin-top:20px;

    padding:0 15px;

    flex:1;

}

.menu li{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px 18px;

    margin-bottom:8px;

    border-radius:12px;

    cursor:pointer;

    transition:.30s;

    color:#CBD5E1;

    font-weight:500;

}

.menu li i{

    width:22px;

    text-align:center;

    font-size:17px;

}

/* Hover */

.menu li:hover{

    background:#2563EB;

    color:#fff;

    transform:translateX(5px);

}

/* Active */

.menu li.active{

    background:#2563EB;

    color:#fff;

    box-shadow:0 8px 18px rgba(37,99,235,.30);

}

/* ==========================================
LOGOUT
========================================== */

.logout{

    margin:20px;

    height:50px;

    border-radius:12px;

    background:#EF4444;

    color:white;

    font-weight:600;

    transition:.3s;

}

.logout:hover{

    background:#DC2626;

    transform:translateY(-2px);

}
